body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.panel{
  height:100%;
  width:100%;
}
.panel-title{
  margin-top: 100px;
  margin-left: 100px;
  display: flex;
  font-size: 30px;
}
#input {
  margin-top: 20px;
  margin-left: 100px;
  display: flex;
}
#input >input{
  width:200px;
  height: 30px;
}
input:focus{
  outline: none;
  
}
#clear{
  width: 100px;
  height: 30px;
  padding-top: 1px;
  align-items: center;
}
.tb{
  width: 100%;
  height:50%;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10px;
  min-height: 400px;
}
#edit{
  width: 150px;
  height: 30px;
  padding-top: 1px;
}

#delete{
  width: 150px;
  height: 30px;
  padding-top: 1px;
}
.create-panel{
  width: 100%;
  height: 100%;

}
.create-title{
  display: flex;
  margin-top: 150px;
  font-size: 25px;
  margin-left: 520px;
}
.create-input{
  margin-left: 450px;
  margin-right: 300px;
  width: 40%;
  margin-top : 20px;
  height: 50px;
  text-align: right;
}
.create-input > input{
  float: right;
  margin-right: 200px;
  margin-left: 10px;
  width: 300px;
  height: 30px;
}
.create-input> select{
  float: right;
  margin-right: 200px;
  margin-left: 10px;
  width: 300px;
  height: 30px;
}

#create-button{
  float: left;
  margin-left: 100px;
}
.btn-back{
  width: 300px;
  margin-right:200px;
}

tr{
  height: 65px;
}
